[submodule "Vendor/Library/libpng"]
	path = Vendor/Library/libpng
	url = https://github.com/pnggroup/libpng
[submodule "Vendor/Library/zlib"]
	path = Vendor/Library/zlib
	url = https://github.com/madler/zlib
[submodule "Vendor/Library/SDL"]
	path = Vendor/Library/SDL
	url = https://github.com/libsdl-org/SDL
[submodule "Userland/Application/UserApps/doom/doomgeneric"]
	path = Userland/Application/UserApps/doom/doomgeneric
	url = https://github.com/ozkl/doomgeneric/
