Image/
Build/
*.d
*.o
OVMF_CODE_4M.fd
OVMF_VARS_4M.fd
AAVMF_CODE.fd
AAVMF_VARS.fd
*.bin
Userland/Application/BusyBox/Resource/busybox
Userland/Application/Chromium
Userland/Application/Doom

Vendor/LinuxRuntime/cache/
Vendor/LinuxRuntime/.work/
Vendor/LinuxRuntime/LICENSES/