[submodule "Vendor/Library/libpng"]
	path = Vendor/Library/libpng
	url = https://github.com/pnggroup/libpng
[submodule "Vendor/Library/zlib"]
	path = Vendor/Library/zlib
	url = https://github.com/madler/zlib
[submodule "Vendor/Library/libjpeg"]
	path = Vendor/Library/libjpeg
	url = https://github.com/winlibs/libjpeg
[submodule "Vendor/Library/freetype"]
	path = Vendor/Library/freetype
	url = https://github.com/freetype/freetype.git
[submodule "API"]
	path = API
	url = https://github.com/ImplusOS/API.git
	branch = main
[submodule "Kernel"]
	path = Kernel
	url = https://github.com/ImplusOS/Kernel.git
	branch = main
[submodule "Userland-Common"]
	path = Userland-Common
	url = https://github.com/ImplusOS/Userland-Common.git
	branch = main
[submodule "BootLoader"]
	path = BootLoader
	url = https://github.com/ImplusOS/BootLoader.git
	branch = main
[submodule "Docs"]
	path = Docs
	url = https://github.com/ImplusOS/Docs.git
	branch = main
[submodule "Library"]
	path = Library
	url = https://github.com/ImplusOS/Library.git
	branch = main
[submodule "BootManager"]
	path = BootManager
	url = https://github.com/ImplusOS/BootManager.git
	branch = main
[submodule "RecoveryEnvironment"]
	path = RecoveryEnvironment
	url = https://github.com/ImplusOS/RecoveryEnvironment.git
	branch = main
[submodule "I_libc"]
	path = I_libc
	url = https://github.com/ImplusOS/I_libc.git
	branch = main
[submodule "Service-Management"]
	path = Service-Management
	url = https://github.com/ImplusOS/Service-Management.git
	branch = main
